.rating-value{
  margin-left: 5px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.2rem;
}

.star {
  color: #ddd;
  transition: color 0.2s ease;
}

.star.filled {
  color: var(--yellow-gold);
}

.star.half-filled {
  background: linear-gradient(90deg, var(--yellow-gold) 50%, #ddd 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffd700;
}

.star.empty {
  color: #ddd;
}

.rating-value {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #666;
  font-weight: 500;
}


.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  padding-top: 0;
}

.product-image {
  flex: 2;
  width: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  image-rendering: crisp-edges;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 150px;
}

.product-name{
  margin: 12px 0 8px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.product-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin-top: 4px;
}

.color-picker {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  align-items: center;

}

.color-option {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.color-option.selected {
  border: 2px solid #000;
}

.color-name {
  margin-top: 8px;
  font-size: 12px;
  font-family: 'Avenir', sans-serif;
}